<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Fortezza Peoplesbase</title>
    <link rel="stylesheet" href="/static/pplbase.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    {% block header %} {% endblock %}
</head>
<body>
    <div class="pagewrap">

        {% block content %} {% endblock %}

    </div>
</body>
</html>